<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: head('Novo Professor')}">
</head>
<body>
	<div th:replace="~{fragmentos ::menu('Cadastro de usuário', '')}"></div>
	<div class="container mt-4">
		<form th:object="${novoUsuarioDTO}" th:action="@{/usuario/salvar}" method="POST" novalidate>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Email</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  th:field="*{email}">
			</div>
			<div class="mb-3">
				<label for="exampleInputPassword1" class="form-label">Senha</label>
				<input type="password" class="form-control" id="exampleInputPassword1" th:field="*{senha}">
			</div>
			<div class="mb-3">
				<select class="form-select" multiple aria-label="multiple select example" th:field="*{perfis}">
					<option th:each="perfil : ${listaPerfis}" th:value="${perfil.id}" th:text="${perfil.desc}"></option>
				</select>
				<input type="hidden" value="0" name="perfis">
			</div>
			<button type="submit" class="btn btn-primary">Realizar Cadastro</button>
		</form>
	</div>

</body>
</html>