<div class="container" th:fragment="form(novoProfessorDTO, action, scope)">
	<div class="row">
		<form th:object="${novoProfessorDTO}" th:action="${action}" method="POST" novalidate>
			<div class="mb-3">
				<label class="form-label">Nome</label>
				<input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{nome}">
				<div class="invalid-feedback d-block" th:errors="*{nome}"></div>
			</div>
			<div class="mb-3">
				<label class="form-label">Salário</label>
				<input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{salario}">
				<div class="invalid-feedback d-block" th:errors="*{salario}"></div>
			</div>
			<div class="mb-3">
				<label class="form-label">Status</label>
				<select class="form-select" th:field="*{statusProfessor}">

					<option th:each="status : ${listaStatus}" th:value="${status}" th:text="${status}"></option>
				</select>

			</div>
			<div class="row">
				<div class="col-3">
					<button class="btn btn-primary" type="submit" th:text="${scope == 'new' ? 'Cadastrar' : 'Editar'}"></button>
					<a href="javascript:history.back()" type="button" class="btn btn-secondary">Voltar</a>
				</div>
			</div>

		</form>
	</div>
</div>