<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: head('Lista de professores')}">
</head>
<body>

	<div th:replace="~{fragmentos ::menu('Lista de professores', 'professores')}"></div>

	<div class="container mt-4 mb-4">
		<div class="col-12">
			<span th:styleappend="${param.erro == null || param.mensagem == null ? 'display:none;' : ''}"
				th:classappend="${param.erro !=null && param.erro ? 'error-message' : 'success-message'}" th:text="${param.mensagem != null ? param.mensagem : ''}">Mensagem</span>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-12">

				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Nome</th>
							<th scope="col">Salário</th>
							<th scope="col">Status</th>
							<th scope="col">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="p : ${professores}">
							<th scope="row" th:text="${p.id}"></th>
							<td th:text="${p.nome}"></td>
							<td th:text="${p.salario}"></td>
							<td th:text="${p.statusProfessor}"></td>
							<td>
								<a th:href="@{/professores/{id}/edit(id=${p.id})}" class="btn" data-toggle="tooltip" data-placement="top" title="Editar" tabindex="-1" role="button">
									<i class="fa fa-file"></i>
								</a>
								<a th:href="@{/professores/{id}(id=${p.id})}" class="btn" data-toggle="tooltip" data-placement="top" title="Detalhes" tabindex="-1" role="button">
									<i class="fa fa-search"></i>
								</a>
								<a class="btn" data-bs-toggle="modal" th:attr="data-bs-target='#modal-exclusao'+${p.id}" data-toggle="tooltip" data-placement="top" title="Excluir" tabindex="-1"
									role="button">
									<i class="fa fa-trash"></i>
								</a>
								<div th:replace="~{modal :: modal(${p.id}, ${p.nome})}"></div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-3">
				<a href="/professores/new" class="btn btn-primary" tabindex="-1" role="button">Novo Professor</a>
			</div>
		</div>
	</div>


</body>
</html>