<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: head('Detalhes')}">
</head>
<body>
	<div th:replace="~{fragmentos ::menu('Professor #'+${professor.id}, 'professores')}"></div>

	<main>
		<div class="container mt-4">
			<div class="row">
				<b>Nome:</b>
				<span th:text="${professor.nome}"></span>
			</div>
			<div class="container mt-4">
				<div class="row">
					<div class="col-3">
						<a th:href="@{/professores/{id}/edit(id=${professor.id})}" type="button" class="btn btn-primary">Editar</a>
						<a href="/professores" type="button" class="btn btn-secondary">Ir para listagem</a>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>